* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* =================== size const =================== */
  --heder-padding: 24px;
  --heder-padding-top: 24px;
  --heder-padding-bottom: 28px;
  /* =================== /size const =================== */

  /* =================== color const =================== */
  --primary-brand-color: #4d5ae5; /* IRIS */
  --pressed-state-color: #404bbf; /* OCEAN */
  --dark-color: #2e2f42; /* NAVYBLUE */
  --text-color: #434455; /* SLATE */
  --subtitle-text-colour: #8e8f99; /* LIGHT SLATE */
  --accent-color: #e7e9fc; /* CORNFLOWER */
  --light-color: #f4f4fd; /* CLOUD */
  --light-background-color: #ffffff;
  --background-modal-color: #fcfcfc;
  /* =================== /color const =================== */

  /* =================== other const =================== */
  --animation-hover-focus: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --mobile-width: 428px;
  --tablet-width: 768px;
  --desktop-width: 1200px;
  /* =================== /other const =================== */
}

body {
  margin: 0;

  font-family: "Montserrat", sans-serif;
  background-color: #e5e5e5;
}

/*  reset  */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* =================== components =================== */
.container {
  width: 1200px;
  margin: 0 auto;

  padding-left: 16px;
  padding-right: 16px;
}

@media screen and (max-width: 1439.98px) {
  .container {
    width: 1024px;
  }
}

@media screen and (max-width: 1023.98px) {
  .container {
    width: 768px;
  }
}

@media screen and (max-width: 767.98px) {
  .container {
    width: 425px;
  }
}

@media screen and (max-width: 424.98px) {
  .container {
    width: 375px;
  }
}

@media screen and (max-width: 374.98px) {
  .container {
    width: 320px;
  }
}

/* main styles */
.main {
  display: flex;
  flex-direction: row-reverse;
  margin: 0 auto;
}

@media screen and (max-width: 1439.98px) {
  .main {
    width: 1024px;
  }
}

@media screen and (max-width: 1023.98px) {
  .main {
    width: 768px;
  }
}

@media screen and (max-width: 767.98px) {
  .main {
    width: 425px;
  }
}

@media screen and (max-width: 424.98px) {
  .main {
    width: 375px;
  }
}

@media screen and (max-width: 374.98px) {
  .main {
    width: 320px;
  }
}

/* main_content styles */
.main_content {
  background-color: #ffffff;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
  padding: 60px 16px 16px 0px;
}

@media screen and (max-width: 1439.98px) {
  .main_content {
    padding: 54px 14px 14px 0px;
  }
}

@media screen and (max-width: 1023.98px) {
  .main_content {
    padding: 48px 12px 12px 0px;
  }
}

@media screen and (max-width: 767.98px) {
  .main_content {
    padding: 42px 0px 14px 0px;
  }
}

@media screen and (max-width: 424.98px) {
  .main_content {
    padding: 36px 0px 12px 0px;
  }
}

@media screen and (max-width: 374.98px) {
  .main_content {
    padding: 30px 0px 10px 0px;
  }
}

/* user styles */
.user,
.projects,
.work,
.edukation {
  margin-left: 370px;
  margin-bottom: 40px;
  padding: 0 20px;
}

@media screen and (max-width: 1439.98px) {
  .user,
  .projects,
  .work,
  .edukation {
    margin-left: 270px;
    margin-bottom: 36px;
  }
}

@media screen and (max-width: 1023.98px) {
  .user,
  .projects,
  .work,
  .edukation {
    margin-left: 210px;
    margin-bottom: 32px;
  }
}

@media screen and (max-width: 767.98px) {
  .user,
  .projects,
  .work,
  .edukation {
    margin-left: 0px;
    margin-bottom: 24px;
    padding: 0 10px;
  }
}

@media screen and (max-width: 424.98px) {
  .user,
  .projects,
  .work,
  .edukation {
    margin-bottom: 16px;
  }
}

.about_position {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 18px;
  line-height: calc(20 / 16);
  color: #000000;
}

@media screen and (max-width: 1023.98px) {
  .about_position {
    margin-bottom: 16px;

    font-size: 16px;
  }
}

@media screen and (max-width: 767.98px) {
  .about_position {
    margin-bottom: 12px;

    font-size: 14px;
  }
}

@media screen and (max-width: 424.98px) {
  .about_position {
    margin-bottom: 8px;

    font-size: 12px;
  }
}

.about_name {
  margin-bottom: 24px;

  font-weight: 700;
  font-size: 48px;
  line-height: calc(55 / 45);
  color: #000000;
}

@media screen and (max-width: 1023.98px) {
  .about_name {
    margin-bottom: 20px;

    font-size: 42px;
  }
}

@media screen and (max-width: 767.98px) {
  .about_name {
    margin-bottom: 16px;

    font-size: 30px;
  }
}

@media screen and (max-width: 424.98px) {
  .about_name {
    margin-bottom: 12px;

    font-size: 24px;
  }
}

.about_description {
  font-size: 16px;
  line-height: calc(24 / 16);
  color: #595959;
}

@media screen and (max-width: 1023.98px) {
  .about_description {
    margin-bottom: 10px;

    font-size: 14px;
  }
}

@media screen and (max-width: 767.98px) {
  .about_description {
    margin-bottom: 8px;

    font-size: 12px;
  }
}

@media screen and (max-width: 424.98px) {
  .about_description {
    margin-bottom: 12px;

    font-size: 10px;
  }
}

/* projects styles */
.project_list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0;
  margin-left: 16px;

  font-size: 16px;
}

@media screen and (max-width: 1023.98px) {
  .project_list {
    gap: 16px;
    margin-left: 14px;

    font-size: 14px;
  }
}

@media screen and (max-width: 767.98px) {
  .project_list {
    gap: 12px;
    margin-left: 12px;

    font-size: 12px;
  }
}

@media screen and (max-width: 424.98px) {
  .project_list {
    gap: 8px;
    margin-left: 10px;

    font-size: 10px;
  }
}

.project_item {
  font-weight: 700;
  color: #000000;
}

.project {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-weight: 400;
}

@media screen and (max-width: 1023.98px) {
  .project {
    gap: 8px;
  }
}

@media screen and (max-width: 767.98px) {
  .project {
    gap: 6px;
  }
}

@media screen and (max-width: 424.98px) {
  .project {
    gap: 4px;
  }
}

.project-ref {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  font-size: 18px;
}

@media screen and (max-width: 1023.98px) {
  .project-ref {
    flex-direction: column;
    font-size: 16px;
  }
}

@media screen and (max-width: 767.98px) {
  .project-ref {
    font-size: 14px;
  }
}

@media screen and (max-width: 424.98px) {
  .project-ref {
    font-size: 12px;
  }
}

.project_link {
  color: #595959;
}

.project_bracket {
  font-weight: 700;
  color: #000000;
}

/* .project-stack {
 
} */

.project-description {
  color: #595959;
}
.project-description-role {
  font-size: 12px;
}
/* work styles */
.work_position {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  margin-bottom: 10px;
}

.work-company {
  margin-bottom: 20px;
}

.organization {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #fb6d3a;
}

.period {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
  margin-bottom: 10px;
}

.line {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
}

.work_list {
  padding: 0;
  margin-left: 15px;
}

.work_list_item {
  font-size: 14px;
  line-height: calc(24 / 14);
  color: #595959;
}

/* edukation styles */
/* .edukation {
  margin-top: 45px;
} */
.edukation_list {
  padding: 0;
  margin-left: 15px;
}
.title {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: calc(27 / 22);
  color: #000000;
  margin-bottom: 12px;
}

@media screen and (max-width: 1023.98px) {
  .title {
    font-size: 20px;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 767.98px) {
  .title {
    font-size: 16px;
    margin-bottom: 8px;
  }
}

@media screen and (max-width: 424.98px) {
  .title {
    font-size: 12px;
    margin-bottom: 6px;
  }
}

.edukation_position {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 16px;
  line-height: calc(20 / 16);
  color: #fb6d3a;
}

@media screen and (max-width: 1023.98px) {
  .edukation_position {
    margin-bottom: 8px;

    font-size: 14px;
  }
}

@media screen and (max-width: 767.98px) {
  .edukation_position {
    margin-bottom: 6px;

    font-size: 12px;
  }
}

@media screen and (max-width: 424.98px) {
  .edukation_position {
    margin-bottom: 4px;

    font-size: 10px;
  }
}

.edukation_specialty {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: calc(17 / 14);
  color: #000000;
}

@media screen and (max-width: 1023.98px) {
  .edukation_specialty {
    margin-bottom: 8px;

    font-size: 12px;
  }
}

@media screen and (max-width: 767.98px) {
  .edukation_specialty {
    margin-bottom: 6px;

    font-size: 10px;
  }
}

@media screen and (max-width: 424.98px) {
  .edukation_specialty {
    margin-bottom: 4px;

    font-size: 8px;
  }
}

/* sidebar styles */
.sidebar {
  padding: 0;
  margin: 0;
  background-color: #1e2939;
  padding-top: 40px;
  width: 370px;
  float: left;
  position: absolute;
  top: 0;
}

@media screen and (max-width: 1439.98px) {
  .sidebar {
    padding-top: 35px;
    width: 270px;
  }
}

@media screen and (max-width: 1023.98px) {
  .sidebar {
    padding-top: 30px;
    width: 210px;
  }
}

@media screen and (max-width: 767.98px) {
  .sidebar {
    padding-top: 28px;
    padding-bottom: 10px;
    margin-bottom: 24px;
    width: 100%;
    float: none;
    position: static;
    top: 0;
  }
}

@media screen and (max-width: 424.98px) {
  .sidebar {
    padding-top: 26px;
    margin-bottom: 16px;
  }
}

@media screen and (max-width: 374.98px) {
  .sidebar {
    padding-top: 24px;
  }
}

/* photo styles */
.photo {
  width: 100%;
  margin-bottom: 50px;
}

@media screen and (max-width: 1023.98px) {
  .photo {
    margin-bottom: 42px;
  }
}

@media screen and (max-width: 767.98px) {
  .photo {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 424.98px) {
  .photo {
    margin-bottom: 20px;
  }
}

.contacts,
.tech_skills,
.soft_skills,
.languages,
.motivation {
  margin-left: 40px;
}

@media screen and (max-width: 1023.98px) {
  .contacts,
  .tech_skills,
  .soft_skills,
  .languages,
  .motivation {
    margin-left: 24px;
  }
}

@media screen and (max-width: 767.98px) {
  .contacts,
  .tech_skills,
  .soft_skills,
  .languages,
  .motivation {
    margin-left: 36px;
  }
}

@media screen and (max-width: 424.98px) {
  .contacts,
  .tech_skills,
  .soft_skills,
  .languages,
  .motivation {
    margin-left: 24px;
  }
}

.contacts,
.tech_skills,
.soft_skills,
.languages {
  margin-bottom: 48px;
}

@media screen and (max-width: 1023.98px) {
  .contacts,
  .tech_skills,
  .soft_skills,
  .languages {
    margin-bottom: 32px;
  }
}

@media screen and (max-width: 767.98px) {
  .contacts,
  .tech_skills,
  .soft_skills,
  .languages {
    margin-bottom: 24px;
  }
}

@media screen and (max-width: 424.98px) {
  .contacts,
  .tech_skills,
  .soft_skills,
  .languages {
    margin-bottom: 16px;
    /* margin-bottom: 32px; */
  }
}

/* sidebar_title styles */
.sidebar_title {
  margin-bottom: 12px;

  font-size: 24px;
  font-weight: 700;
  line-height: calc(30 / 24);
  color: #ffffff;
}

@media screen and (max-width: 1023.98px) {
  .sidebar_title {
    margin-bottom: 10px;

    font-size: 20px;
  }
}

@media screen and (max-width: 767.98px) {
  .sidebar_title {
    margin-bottom: 8px;

    font-size: 18px;
  }
}

@media screen and (max-width: 424.98px) {
  .sidebar_title {
    margin-bottom: 6px;

    font-size: 14px;
  }
}

.contact_list_item {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* contact_type styles */
.contact_type {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(24 / 14);
  color: #ffffff;
  /* margin-right: 10px; */
}

/* contact_lynk styles */
.contact_lynk,
.motivation-btn {
  font-size: 14px;
  line-height: 24px;
  text-decoration-line: underline;
  color: #c3c8d2;
}

@media screen and (max-width: 1023.98px) {
  .contact_type,
  .contact_lynk,
  .motivation-btn {
    font-size: 12px;
  }
}

@media screen and (max-width: 767.98px) {
  .contact_type,
  .contact_lynk,
  .motivation-btn {
    font-size: 10px;
  }
}

@media screen and (max-width: 424.98px) {
  .contact_type,
  .contact_lynk,
  .motivation-btn {
    font-size: 8px;
  }
}

/* tech_skills_list styles */
/* soft_skills_list styles */
.tech_skills_list,
.soft_skills_list {
  padding: 0;
  margin-left: 16px;

  color: #ffffff;
}

@media screen and (max-width: 1023.98px) {
  .tech_skills_list,
  .soft_skills_list {
    margin-left: 14px;
  }
}

@media screen and (max-width: 767.98px) {
  .tech_skills_list,
  .soft_skills_list {
    margin-left: 12px;
  }
}

@media screen and (max-width: 424.98px) {
  .tech_skills_list,
  .soft_skills_list {
    margin-left: 10px;
  }
}

/* .tech and soft_skills_item styles */
.tech_skills_item,
.soft_skills_item {
  color: #fb6d3a;
}

/* .tech_skills_text styles */
/* soft_skills_text styles */
.tech_skills_text,
.soft_skills_text {
  font-size: 14px;
  line-height: calc(24 / 14);
  color: #ffffff;
}

@media screen and (max-width: 1023.98px) {
  .tech_skills_text,
  .soft_skills_text {
    font-size: 12px;
  }
}

@media screen and (max-width: 767.98px) {
  .tech_skills_text,
  .soft_skills_text {
    font-size: 12px;
  }
}

@media screen and (max-width: 424.98px) {
  .tech_skills_text,
  .soft_skills_text {
    font-size: 10px;
  }
}

.motivation-btn {
  cursor: pointer;
}

.modal-backdrop {
  position: fixed;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(46, 47, 66, 0.4);
  opacity: 1;
  transition: opacity var(--animation-hover-focus);
  overflow-y: scroll;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 94vw;
  max-height: 96vh;
  padding: 12px;

  font-size: 18px;
  line-height: calc(24 / 18);

  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%);
  overflow-y: hidden;

  filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.2))
    drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.12))
    drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.14));
}

@media screen and (max-width: 1439.98px) {
  .modal-window {
    font-size: 16px;
  }
}

@media screen and (max-width: 1023.98px) {
  .modal-window {
    top: 50%;

    font-size: 14px;
  }
}

@media screen and (max-width: 767.98px) {
  .modal-window {
    font-size: 12px;
  }
}

@media screen and (max-width: 424.98px) {
  .modal-window {
    font-size: 10px;
  }
}

@media screen and (max-width: 374.98px) {
  .modal-window {
    font-size: 10px;
  }
}

.modal-window-close-button {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-bottom: 12px;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color var(--animation-hover-focus);
}

.modal-window-close-button:hover,
.modal-window-close-button:focus {
  background-color: #1e2939;
}

.modal-window-close-button-icon {
  fill: #1e2939;
  transition: fill var(--animation-hover-focus);
}

.modal-window-close-button:hover .modal-window-close-button-icon,
.modal-window-close-button:focus .modal-window-close-button-icon {
  fill: var(--light-background-color);
}

.letter {
  overflow-y: auto;

  /* margin-right: calc(-1 * (100vw - 100%)); */
}
.let {
  height: 100%;
  /* padding: 0 calc(20px - (94vw - 100%)) 0 0; */
}

.letter-text {
  margin-bottom: 10px;
}

.letter-signature {
}
